.button {
  &:hover {
    color: #103aae;
    background-color: #ffffff;
  }

  &:focus {
    border: 2px solid #000000;
    color: #103aae;
    background: #ffffff80;
    outline: none;
  }

  &:active {
    background: #ffffff;
    color: #102654;
  }

  &:disabled {
    color: #ffffff50;
    border-color: #ffffff50;
    background: transparent;
  }
}
