.card__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    padding: 0;
  }
}

.card__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
  }
}

.card__button {
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c3374;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
  border-bottom: 1px solid #74819c;

  @media (min-width: $tablet-width) {
    text-align: left;
    max-width: fit-content;
    margin: 0;
    padding-top: 0;
    margin-top: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid #1c3374;
      top: -10px;
      right: -10px;
      left: -10px;
      bottom: -3px;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
