.offers__card {
  width: 276px;
  height: 166px;
  border: 7px solid #00359f;
  border-image: linear-gradient(-45deg, #00359f, #d10a42);
  border-image-slice: 1;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.card__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c3374;
}
