.footer {
  background: #030a1a;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 24px;
  margin: 0;
  row-gap: 20px;
  column-gap: 36px;
}

.footer__menu-item {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer__link {
  color: #ffffff;
  position: relative;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: -5px;
    bottom: -5px;
    left: -10px;
    right: -10px;
    border: 1px solid #ffffff;
  }

  &:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
  }

  &:focus::after {
    display: block;
  }
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  list-style: none;
  padding: 0;
  padding-top: 29px;
  margin: 0;
  gap: 20px;
}

.footer__social-link {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: #74819c;

    svg {
      fill: #ffffff;
    }
  }

  &:focus {
    background-color: #103aae;
    outline: none;

    svg {
      fill: #ffffff;
    }
  }

  &:active {
    background-color: #102654;

    svg {
      fill: #ffffff;
    }
  }

  &:disabled {
    background-color: #ffffff;
    opacity: 0.3;

    svg {
      fill: #030a1a;
    }
  }
}

.footer__social-link--disabled {
  background-color: #ffffff;
  opacity: 0.3;
}
