.games {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.games__container {
  display: grid;
  grid-template-columns: 117px 56px;
  column-gap: 37px;
  background: #ed0233;
  margin: 0;
  padding: 40px 40px 332px;
  background-image: url("../../img/foto-games-m@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    grid-template-columns: 100px 100px;
    column-gap: 20px;
    background-image: url("../../img/foto-games-tab@1x.jpg");
    padding-bottom: 40px;
    background-size: 378px auto;
    background-position: right;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 168px 95px;
    column-gap: 77px;
    padding: 60px 80px;
    padding-bottom: 98px;
    background-image: url("../../img/foto-games@1x.jpg");
    background-size: 660px auto;
    background-position: right;
  }
}

.games-title {
  grid-area: 1/1/1/2;
  font-size: 48px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;
  }
}

.games-info {
  grid-area: 1/2/2/3;
}

.games-text,
.games-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}

.games-text {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: #ffffff;
    height: 1px;
    inset: 22px 0 0;

    @media (min-width: $tablet-width) {
      inset: 24px 0 0;
    }

    @media (min-width: $desktop-width) {
      inset: 29px 0 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.games-dates {
  display: flex;
  padding-top: 6px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    width: 80px;
    padding-top: 4px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 19px;
  }
}

.games-data {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 4px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-top: 9px;
    padding-right: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-top: 4px;
  }
}

.games-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 4px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-top: 3px;
  }
}

.games-month {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 23px;
  }
}

.games-description {
  grid-area: 2/1/2/3;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.games-button {
  grid-area: 3/1/3/3;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 126px;
  outline: 2px solid #ffffff;
  padding: 22px 40px;
  margin: 18px auto 0;

  @media (min-width: $tablet-width) {
    width: 136px;
    padding: 25px 40px;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 256px;
    margin-top: 33px;
  }

  &:focus {
    border: none;
  }
}
