.reviews__block {
  background: #1c3374;
}

.reviews__container h2 {
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
}

.reviews__block p {
  color: #ffffff;
}

.reviews__user {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}
